@import '../../../styles/variables';

.TableHead{
    position: relative;
    width: 100%;
    padding: $pxs4 0;

    .headers{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        color: color(gray);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 10px;
        line-height: 16px;

        >div{
            display: flex;
            align-items: center;
        }

        .colProduct{
            width: $colProductWidth;

            @include mobile{
                width: 40%;
            }
        }

        .colQuantity{
            width: $colQuantityWidth;
            justify-content: center;
        }

        .colPrice{
            width: $colPriceWidth;
            justify-content: center;
        }

        .colTotal{
            width: $colTotalWidth;
            justify-content: center;
        }
    }
}